.Header {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 48px;
  background: #c6cde4;
  color: #282828;
  .Logo {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
  }

  .UserBlock {
    display: flex;
    margin-left: auto;
    align-items: center;
    .LogoutIcon {
      margin-left: 20px;
    }
  }
}
